{% extends 'base.html' %}

{% block script %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
		html,
		body,
		#container {
		  width: 100%;
		  height: 100%;
		}
	</style>
{% endblock %}

{% block header %}
	<h1>Footopia</h1>
{% endblock %}

{% block content %}

	<div id="container" style="width: 80%;height:60%"></div>
	{% if messages != [] %}
	<div id='messages' name='messages'>
		{% for message in messages -%}
			<div id='{{ message._id }}'>
				<b style='font-size:1.5em'>{{ message.username }}</b>
				&nbsp;&nbsp;&nbsp;&nbsp;created at
				<time>{{ message.timestamp }}</time>
				<blockquote style='background-color:#FAEBD7'>{{ message.message }}</blockquote><br>
		{% endfor %}
	</div>
	{% endif %}
	<form method='POST' enctype="multipart/form-data">
		<b>message:</b>
		<textarea name='message' rows="5" cols="50" placeholder="your message here"></textarea><br>
		<b>upload pictures:</b>
		<input type="file" name="image" multiple="multiple">
		<input type='submit' value='Submit'>
	</form>	
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=00388081ed16cfc65cc27cbe24c40064"></script>
	<script type="text/javascript">
		var map = new AMap.Map('container', {
			// zoom:14,//级别
			resizeEnable: true
		});

		{% for message in messages %}
			
			// 创建一个 Marker 实例：
			var marker = new AMap.Marker(
				{
					position: new AMap.LngLat({{ message.lng }}, {{ message.lat }})   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
					// content: "{{ message.username }}",
					// title: " {{ message.message }}"
				});

			// 将创建的点标记添加到已有的地图实例：
			map.add(marker);
		{% endfor %}

		AMap.plugin('AMap.Geolocation', function() {
			var geolocation = new AMap.Geolocation({
				enableHighAccuracy: true,//是否使用高精度定位，默认:true
				timeout: 1000,          //超过10秒后停止定位，默认：5s
				buttonPosition:'RB',    //定位按钮的停靠位置
				buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
				zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点

			});
			map.addControl(geolocation);
			geolocation.getCurrentPosition(function(status,result){
				if(status=='complete'){
					onComplete(result)
				}else{
					onError(result)
				}
			});
		});
		//解析定位结果
		function onComplete(data) {
			$.ajax({
				url: "/postmethod",
				type: "POST",
				contentType: "application/json",
				dataType: "json",
				data: JSON.stringify(data.position)
			});
		}
		//解析定位错误信息
		function onError(data) {
			// document.getElementById('status').innerHTML='定位失败'
			// document.getElementById('result').innerHTML = '失败原因排查信息:'+data.message;
		}


	</script> 
{% endblock %}